.github-page-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.github-page-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .github-page-body {
    padding: 1rem 0;
  }
}
